html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

* {
  font-style: normal;
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.mt-6 {
  margin-top: 60px;
}

.mt-5 {
  margin-top: 50px;
}

.mt-4 {
  margin-top: 40px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #22bf95;
  border-radius: 25px;
  width: 255px;
  height: 50px;
  margin-top: 20px;
  font-weight: 100;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.281);
  text-transform: uppercase;
}
.btn h4 {
  font-family: "Acme";
  font-style: normal;
  font-weight: 100;
  font-size: 13px;
  line-height: 24px;
  /* identical to box height, or 240% */
  text-align: center;
  letter-spacing: 1.66667px;
  text-transform: uppercase;
}

.contained {
  background-color: #22bf95;
  color: white;
  transition: 0.4s;
}
.contained:hover {
  background-color: #1d9777;
  transition: 0.4s;
}

.outlined {
  border: 1px solid #22bf95;
  transition: 0.3s;
}
.outlined:hover {
  background-color: rgb(243, 243, 243);
  transition: 0.4s;
}

.main-menu {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 30px;
  justify-content: center;
  align-items: center;
  color: white;
  background-image: linear-gradient(20deg, hsl(161deg, 99%, 46%) 0%, hsl(170deg, 100%, 44%) 7%, hsl(179deg, 100%, 42%) 19%, hsl(186deg, 100%, 44%) 35%, hsl(190deg, 86%, 48%) 51%, hsl(186deg, 100%, 44%) 68%, hsl(179deg, 100%, 42%) 84%, hsl(170deg, 100%, 44%) 96%, hsl(161deg, 99%, 46%) 100%);
}

.desc-cont {
  display: flex;
  justify-content: center;
}
.desc-cont .desc {
  text-align: left;
  font-family: "Aclonica", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  width: 320px;
  border-left: 1px solid white;
  padding-left: 35px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.205);
  line-height: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Actor", sans-serif;
  letter-spacing: 1px;
  width: -webkit-fill-available;
  width: -moz-available;
  padding: 10px 30px;
}

#btn {
  position: fixed;
  z-index: 16;
  top: 35px;
  right: 35px;
  cursor: pointer;
  transition: right 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
}
#btn.active {
  z-index: 17;
}
#btn div {
  width: 35px;
  height: 5px;
  margin-bottom: 8px;
  background-color: #f6f6f6;
  transition: transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91), opacity 500ms, background-color 250ms;
}

.sidebar-btn-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: -webkit-fill-available;
  width: -moz-available;
  flex-direction: column;
  margin-top: 20px;
}

.sidebar-btn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #7f7f7f;
  text-transform: uppercase;
  color: #7f7f7f;
  font-family: "Acme", sans-serif;
  border-radius: 25px;
  width: 210px;
  height: 50px;
  font-weight: 100;
  letter-spacing: 3px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.sidebar-btn div.active {
  color: #22bf95;
}
.sidebar-btn:hover {
  background-color: #22bf95;
  color: white;
  border-color: #22bf95;
  transition: 0.4s ease-in-out;
}

#btn.active div {
  background-color: #22bf95;
}
#btn.active #top {
  transform: translateY(10px) rotate(-135deg);
}
#btn.active #middle {
  opacity: 0;
  transform: rotate(135deg);
}
#btn.active #bottom {
  transform: translateY(-15px) rotate(-45deg);
}

#box {
  position: fixed;
  overflow: auto;
  top: 0px;
  right: -275px;
  width: 350px;
  opacity: 0;
  padding: 20px 0px;
  height: 100%;
  color: #343838;
  background: rgba(255, 255, 255, 0.608);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
  will-change: transform, opacity;
  overflow-x: hidden;
}
#box.active {
  right: 0px;
  z-index: 16;
  opacity: 1;
}

#items {
  position: relative;
  margin-top: 150px;
}
#items .item {
  position: relative;
  cursor: pointer;
  font-size: 20px;
  padding: 15px 0px;
  padding-left: 20px;
  margin-top: 15px;
  margin-left: 60px;
  text-align: left;
  transition: all 250ms;
  text-transform: uppercase;
  font-family: "Acme", sans-serif;
  font-weight: 100;
  color: #7f7f7f;
}
#items .item a {
  color: #7f7f7f;
  text-decoration: none;
}
#items .item.active {
  border-left: 4px solid #22bf95;
}
#items .item:hover {
  color: #22bf95;
  transform: scale(1.03, 1);
}
#items .item:hover a {
  color: #22bf95;
}

#btn,
#btn * {
  will-change: transform;
}/*# sourceMappingURL=menu.css.map */