@import "./mediaQueries";
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
}
* {
  font-style: normal;
}
$black: #343838;
$dullWhite: #f6f6f6;
$divider-border: 3px solid #e5e5e5;
$gray: #7f7f7f;
$primary-color: #22bf95;
$secondary-color: #1d9777;

$primary-gradient: linear-gradient(
  20deg,
  hsl(161deg 99% 46%) 0%,
  hsl(170deg 100% 44%) 7%,
  hsl(179deg 100% 42%) 19%,
  hsl(186deg 100% 44%) 35%,
  hsl(190deg 86% 48%) 51%,
  hsl(186deg 100% 44%) 68%,
  hsl(179deg 100% 42%) 84%,
  hsl(170deg 100% 44%) 96%,
  hsl(161deg 99% 46%) 100%
);
$twitter-color: #1da1f2;
$youtube-color: #ff0000;
$linkedin-color: #0961b8;
$facebook-color: #3f62a9;
.d-flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.flex-column {
  flex-direction: column;
}
.mt-6 {
  margin-top: 60px;
}
.mt-5 {
  margin-top: 50px;
}
.mt-4 {
  margin-top: 40px;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 25px;
  width: 245px;
  height: 50px;
  margin-top: 20px;
  font-weight: 100;
  cursor: pointer;
  text-transform: uppercase;
  h4 {
    color: $primary-color;
    @include for-size(desktop-up) {
      color: white;
    }
    font-family: "Acme";
    font-style: normal;
    font-weight: 100;
    font-size: 13px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 1.66667px;
    text-transform: uppercase;
  }
}

.contained {
  background-color: $primary-color;
  color: white;
  transition: 0.4s;
  &:hover {
    background-color: $secondary-color;
    transition: 0.4s;
  }
}
.outlined {
  border: 2px solid $primary-color;
  @include for-size(desktop-up) {
    border: 2px solid white;
  }
  transition: 0.3s;
  background: transparent !important;
  &:hover {
    background: #22bf9536 !important;
    transition: 0.4s;
    @include for-size(desktop-up) {
      background: rgba(255, 255, 255, 0.336) !important;
      transition: 0.4s;
    }
    // color: white;
  }
}
