@import "../style";
@import "../mediaQueries";
.main-text {
  width: 385px;
  font-size: 80px;
  margin: 0;
  font-weight: 400;
  word-wrap: break-word;
  font-family: "Actor", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  @include for-size(desktop-up) {
    margin-top: 5vh;
    width: auto;
    white-space: nowrap;
  }
}
.logo {
  margin: 0;
}
.tabs-cont {
  margin-top: -30px;
  position: sticky;
  top: 10px;
  z-index: 15;
}
.tips,
.faqs {
  margin-top: 80px;
  border-top: $divider-border;
  padding: 20px 30px;
  @include for-size(desktop-up) {
    padding: 20px 15vh;
  }
}
.glossary {
  border-top: $divider-border;
  .glossary-logo {
    margin: 30px 15vh;
    background-color: white;
  }
}
.tabs {
  justify-content: space-between;
  border-top: 4px solid $primary-color;
  border-radius: 10px;
  box-shadow: -8px 9px 16px rgba(0, 0, 0, 0.116);
  background-color: white;
  @include for-size(desktop-up) {
    justify-content: center;
    width: 770px;
    height: 70px;
  }
  span {
    transform: translateY(30%);
    background-color: #e5e5e5;
    width: 2px;
    height: 60%;
  }
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0px 3.5vh;
  }
}
.tab-title {
  text-decoration: none;
  text-align: center;
  font-family: "Acme";
  font-weight: 300;
  font-size: 15px;
  margin: 15px 0px;
  @include for-size(tablet-portrait-up) {
    font-size: 13px;
    margin: 20px 0px;
  }
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #7f7f7f;
  cursor: pointer;
  display: block;
  transition: 0.3s;
  &:hover {
    opacity: 0.7;
    transition: 0.4s;
  }
  &.current-tab {
    color: $primary-color;
  }
}
.middle-tab {
  border-left: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;
}
.tip-list {
  margin-top: 50px;
}
