html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

* {
  font-style: normal;
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.mt-6 {
  margin-top: 60px;
}

.mt-5 {
  margin-top: 50px;
}

.mt-4 {
  margin-top: 40px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 25px;
  width: 245px;
  height: 50px;
  margin-top: 20px;
  font-weight: 100;
  cursor: pointer;
  text-transform: uppercase;
}
.btn h4 {
  color: #22bf95;
  font-family: "Acme";
  font-style: normal;
  font-weight: 100;
  font-size: 13px;
  line-height: 24px;
  /* identical to box height, or 240% */
  text-align: center;
  letter-spacing: 1.66667px;
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  .btn h4 {
    color: white;
  }
}

.contained {
  background-color: #22bf95;
  color: white;
  transition: 0.4s;
}
.contained:hover {
  background-color: #1d9777;
  transition: 0.4s;
}

.outlined {
  border: 2px solid #22bf95;
  transition: 0.3s;
  background: transparent !important;
}
@media (min-width: 1200px) {
  .outlined {
    border: 2px solid white;
  }
}
.outlined:hover {
  background: rgba(34, 191, 149, 0.5019607843) !important;
  transition: 0.4s;
}
@media (min-width: 1200px) {
  .outlined:hover {
    background: rgba(255, 255, 255, 0.336) !important;
    transition: 0.4s;
  }
}

.main-text {
  width: 385px;
  font-size: 80px;
  margin: 0;
  font-weight: 400;
  word-wrap: break-word;
  font-family: "Actor", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}
@media (min-width: 1200px) {
  .main-text {
    margin-top: 5vh;
    width: auto;
    white-space: nowrap;
  }
}

.logo {
  margin: 0;
}

.tabs-cont {
  margin-top: -30px;
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  z-index: 15;
}

.tips,
.faqs {
  margin-top: 80px;
  border-top: 3px solid #e5e5e5;
  padding: 20px 30px;
}
@media (min-width: 1200px) {
  .tips,
.faqs {
    padding: 20px 15vh;
  }
}

.glossary {
  border-top: 3px solid #e5e5e5;
}
.glossary .glossary-logo {
  margin: 30px 15vh;
  background-color: white;
}

.tabs {
  justify-content: space-between;
  border-top: 4px solid #22bf95;
  border-radius: 10px;
  box-shadow: -8px 9px 16px rgba(0, 0, 0, 0.116);
  background-color: white;
}
@media (min-width: 1200px) {
  .tabs {
    justify-content: center;
    width: 770px;
    height: 70px;
  }
}
.tabs span {
  transform: translateY(30%);
  background-color: #e5e5e5;
  width: 2px;
  height: 60%;
}
.tabs div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0px 3.5vh;
}

.tab-title {
  text-decoration: none;
  text-align: center;
  font-family: "Acme";
  font-weight: 300;
  font-size: 15px;
  margin: 15px 0px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #7f7f7f;
  cursor: pointer;
  display: block;
  transition: 0.3s;
}
@media (min-width: 600px) {
  .tab-title {
    font-size: 13px;
    margin: 20px 0px;
  }
}
.tab-title:hover {
  opacity: 0.7;
  transition: 0.4s;
}
.tab-title.current-tab {
  color: #22bf95;
}

.middle-tab {
  border-left: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;
}

.tip-list {
  margin-top: 50px;
}/*# sourceMappingURL=index.css.map */