@import "../../style";
.question-list {
  margin-top: 50px;
  padding-left: 15px;
  padding-right: 15px;
}

.question {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 45px;
}
.question-logo {
  font-family: "Actor";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 80px;
  display: flex;
  margin: 0;
  align-items: center;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #e5e5e5;
}
.question-title-cont {
  display: flex;
  justify-content: center;
  width: inherit;
}
.question-title {
  display: inline;
  width: 200px;
  font-family: "Aclonica";
  font-style: normal;
  font-weight: 600;
  text-align: left;
  font-size: 16px;
  line-height: 20px;
  color: #191919;
}
.question-expand-icon {
  transform: rotate(90deg);
  transition: 0.3s;
  border: none;
  background-color: transparent;
  cursor: pointer;
  &:hover {
    transform: rotate(90deg) scale(1.08);
    transition: 0.3s;
  }
  &.question-expanded {
    transform: rotate(0deg);
  }
}
.faq-bottom {
  padding-bottom: 5vh;
  margin-top: 10vh;
}
.more-questions-btn {
  background-color: transparent;
  border: none;
  font-family: "Acme";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 1.66667px;
  text-transform: uppercase;
  color: $primary-color;
  transition: 0.3s;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:hover {
    color: $secondary-color;
    transition: 0.4s;
  }
}
