@import "../../style";
@import "../../mediaQueries";

.glossary {
  //   background-image: url("https://img.freepik.com/free-photo/abstract-blur-pastel-beautiful-peach-pink-color-sky-warm-tone-background-design-as-banner-slide-show-others_1258-71932.jpg?w=2000");
  //   background-position: right;
  background-image: linear-gradient(
    190deg,
    hsl(0deg 0% 100%) 6%,
    hsl(172deg 23% 93%) 42%,
    hsl(173deg 23% 86%) 57%,
    hsl(173deg 23% 79%) 70%,
    hsl(194deg 39% 77%) 81%,
    hsl(211deg 49% 79%) 91%,
    hsl(249deg 39% 81%) 100%
  );
}
.accordion {
  padding-left: 15px;
  padding-right: 15px;
}
.glossary-content {
  height: 60vh;
  margin-top: 5vh;
}
.glossary-search-cont {
  position: relative;
}
.glossary-search {
  width: 300px;
  height: 45px;
  border: 2px solid #e5e5e5;
  border-radius: 5px;
  font-family: "Aclonica";
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  padding: 5px 15px;
  &::placeholder {
    color: #e5e5e5;
    font-weight: 400;
  }
}
.slider-nav {
  justify-content: space-around;
  padding: 50px 0px;
  svg {
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      transform: scale(1.08);
      transition: 0.3s;
    }
  }
}

.glossary-expand {
  position: absolute;
  top: 50%;
  transform: translateY(-70%);
  right: 20px;
}
.glossary-title {
  h1 {
    font-family: "Actor";
    font-style: normal;
    font-weight: 500;
    @include for-size(tablet-portrait-up) {
      font-size: 60px;
    }
    font-size: 50px;
    line-height: 54px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}
.glossary-desc {
  margin-top: 20px;
  article {
    font-family: "Aclonica";
    font-weight: 600;
    @include for-size(tablet-portrait-up) {
      font-size: 16px;
      padding-left: 50px;
    }
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.7px;
    padding-left: 20px;
    border-left: 2px solid $primary-color;
  }
}
