@import "../style";

.skout-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-text {
  width: 385px;
  font-size: 80px;
  margin: 0;
  font-weight: 400;
  word-wrap: break-word;
  font-family: "Actor", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.skout-info-text {
  text-align: left;
  margin-top: 40px;
  font-family: "Aclonica", sans-serif;
  width: 40vh;
  p {
    width: 40vh;
  }
}
.skout-btn-cont {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
.skout-img {
  width: 40vh;
  height: auto;
}
.more-tips {
  font-family: "Acme";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 240% */
  text-align: center;
  letter-spacing: 1.66667px;
  text-transform: uppercase;

  color: #ffffff;
}
